[submodule "upstream"]
	path = upstream
	url = https://github.com/libertine-linux-mirrors/dpdk.git
	branch = master
	update = checkout
	ignore = none
	fetchRecurseSubmodules = true
	shallow = false
[submodule "tldk"]
	path = tldk
	url = https://github.com/libertine-linux-mirrors/tldk.git
	branch = master
	update = checkout
	ignore = none
	fetchRecurseSubmodules = true
	shallow = false
